/* Container */
.container-fluid {
    height: 100vh;
}

.row {
    height: 100%;
}

/* Navbar menu column */
#sidebarCol {
    background-color: #4e4949;
    padding-top: 10px;
}

.navbar {
    border: 2px solid blue;
    flex-direction: column;
    align-content: stretch;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
}

.nav-item {
    color: white;
}

#btnCompose {
    margin-bottom: 3px;
}

.btnMailbox {
    flex-grow: 1;
    margin: 1px;
    border-radius: 7%;
}

#mailbox-row {
    flex-wrap: wrap;
    margin-bottom: 3px;
}


/* Message list column */
#listCol {
    background-color: #F5F1ED;
    padding-top: 10px;
}

#searchbar {
    padding-bottom: 10px;
}

/* Message detail column */
#itemCol{
    padding-top: 10px;
}

#addresses {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

#subjectline {
    font-size: larger;
    font-weight: bolder;
}